.App {
  display: flex;
  flex-wrap: wrap;
}
.day {
  min-width: 30%;
  margin: 20px;
  padding: 10px;
  background-color: #F8EEE8;
  border: 1px solid #AA4509;
  border-radius: 10px;
}

.header {
  text-align: center;
}

.comment {
  width: 100%;
  border-radius: 5px;
}
